flows.json
[
    {
        "id": "89e4a59368b159ec",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c33c1a76068d28d9",
        "type": "rpi-dht22",
        "z": "89e4a59368b159ec",
        "name": "",
        "topic": "rpi-dht11",
        "dht": "11",
        "pintype": "0",
        "pin": "17",
        "x": 320,
        "y": 300,
        "wires": [
            [
                "28c8cb5e3f423467",
                "4ec5df6eb9b553c1",
                "2b7fe60c241c7a0d",
                "3da53e29cf46a905"
            ]
        ]
    },
    {
        "id": "7f201164c6b93fa4",
        "type": "inject",
        "z": "89e4a59368b159ec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "c33c1a76068d28d9"
            ]
        ]
    },
    {
        "id": "28c8cb5e3f423467",
        "type": "debug",
        "z": "89e4a59368b159ec",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 240,
        "wires": []
    },
    {
        "id": "aa294cb38b5e4c1f",
        "type": "debug",
        "z": "89e4a59368b159ec",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 420,
        "wires": []
    },
    {
        "id": "a8c2978a1c0cae0a",
        "type": "debug",
        "z": "89e4a59368b159ec",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 580,
        "wires": []
    },
    {
        "id": "3da53e29cf46a905",
        "type": "function",
        "z": "89e4a59368b159ec",
        "name": "temperature",
        "func": "msg.payload=msg.payload\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 420,
        "wires": [
            [
                "aa294cb38b5e4c1f",
                "4e1a2bce3e5f3f3b"
            ]
        ]
    },
    {
        "id": "4ec5df6eb9b553c1",
        "type": "function",
        "z": "89e4a59368b159ec",
        "name": "humidity",
        "func": "msg.payload=msg.humidity\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 500,
        "wires": [
            [
                "a8c2978a1c0cae0a",
                "12e38c6678eda021"
            ]
        ]
    },
    {
        "id": "4e1a2bce3e5f3f3b",
        "type": "ui_gauge",
        "z": "89e4a59368b159ec",
        "name": "",
        "group": "7c164f2fb096ee1f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 520,
        "wires": []
    },
    {
        "id": "12e38c6678eda021",
        "type": "ui_gauge",
        "z": "89e4a59368b159ec",
        "name": "",
        "group": "7c164f2fb096ee1f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 640,
        "wires": []
    },
    {
        "id": "8cd63993efdb19c6",
        "type": "rpi-gpio out",
        "z": "89e4a59368b159ec",
        "name": "LED ",
        "pin": "27",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "pwm",
        "bcm": true,
        "x": 490,
        "y": 100,
        "wires": []
    },
    {
        "id": "b74d7bd01b4a7169",
        "type": "ui_slider",
        "z": "89e4a59368b159ec",
        "name": "",
        "label": "light level",
        "tooltip": "",
        "group": "7c164f2fb096ee1f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 280,
        "y": 140,
        "wires": [
            [
                "8cd63993efdb19c6"
            ]
        ]
    },
    {
        "id": "7422b3565e59b836",
        "type": "e-mail",
        "z": "89e4a59368b159ec",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "Temperature",
        "x": 750,
        "y": 220,
        "wires": []
    },
    {
        "id": "2b7fe60c241c7a0d",
        "type": "switch",
        "z": "89e4a59368b159ec",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "19",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 320,
        "wires": [
            [
                "c1c6bb9403b911cc"
            ]
        ]
    },
    {
        "id": "c1c6bb9403b911cc",
        "type": "rbe",
        "z": "89e4a59368b159ec",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 770,
        "y": 320,
        "wires": [
            [
                "7422b3565e59b836"
            ]
        ]
    },
    {
        "id": "7c164f2fb096ee1f",
        "type": "ui_group",
        "name": "Default",
        "tab": "80f5f49e88284e57",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "80f5f49e88284e57",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]